@import url('https://fonts.googleapis.com/css2?family=josefin+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
:root{
    --cards: 23;
    --cardHeight:87vh;
    --cardTopPadding:20vh;
    --cardMargin:4vw;
    --iwidth:0.6;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}

#card1{
    --index:1;
}
#card2{
    --index:2;
}
#card3{
    --index:3;
}
#card4{
    --index:4;
}#card5{
    --index:5;
}#card6{
    --index:6;
}
#card7{
    --index:7;
}
#card8{
    --index:8;
}#card9{
    --index:9;
}#card10{
    --index:10;
}#card11{
    --index:11;
}
#card12{
    --index:12;
}
#card13{
    --index:13;
}
#card14{
    --index:14;
}
#card15{
    --index:15;
}
#card16{
    --index:16;
}
#card17{
    --index:17;
}
#card18{
    --index:18;
}
#card19{
    --index:19;
}
#card20{
    --index:20;
}
#card21{
    --index:21;
}
#card22{
    --index:22;
}
#card23{
    --index:23;
}
#card24{
    --index:24;
}
#card25{
    --index:25;
}
#card26{
    --index:26;
}
#card27{
    --index:27;
}
#card28{
    --index:28;
}
#card29{
    --index:29;
}
#card30{
    --index:30;
}

.card {    
    display: flex;
    justify-content: center;
    height: 25vh;
    cursor: pointer;
    position: sticky;
    scroll-behavior: smooth;
    top: calc(8px * (var(--index) + 1));
}


#card1 {
    transform:scale(0.9)  ;
}
#card2 {
    transform:scale(0.91) ;
}
#card3 {
    transform:scale(0.92) ;
}
#card4 {
    transform:scale(0.93);
}
#card5 {
    transform:scale(0.94) ;
}
#card6 {
    transform:scale(0.95) ;
}
#card7 {
    transform:scale(0.96) ;
}
#card8 {
    transform:scale(0.97) ;
}
#card9 {
    transform:scale(0.98) ;
}
#card10 { 
    transform:scale(0.99) ;
}
#card10 {
    transform:scale(1) ;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}

.card-no {
    
    padding-top: 10px;
    font-size: 21px;

}

.card-holder {
    font-size: 12px;
    margin-top: 16px;
}

.name {
    font-size: 17px;
    margin-top: 2px;
}

