@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Poppins&display=swap');

:root{
    --cards: 30;
    --cardHeight:10vh;
    --cardTopPadding:1.2em;
    --cardMargin:4vw;
    
}
.smallHeading,.smallHeading1,.smallHeading2,.smallHeading3,.smallHeading4,.smallHeading5,.smallHeading6,.smallHeading7,.smallHeading8{
  position: absolute;
}
.smallHeading{ 
  font-size: 15px;
  top: 35vh;
  left: 1vw;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.smallHeading1{  
  font-size: 15px;
  top: 35vh;
  right: 34vw;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.smallHeading2{  
  font-size: 15px;
  top: 25vh;
  left: 10vw;
  color:gray;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.smallHeading3{  
  font-size: 15px;
  top: 28vh;
  left: 19vw;
  color:gray;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.smallHeading4{  
  font-size: 15px;
  top: 33vh;
  left: 83vw;
  width: 8vw;
  text-align: left;
  color:gray;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.smallHeading5{
  left:0vw;
}
.smallHeading8{  
  font-size: 15px;
  top: 35vh;
  left: 22vw;
  width:11vw;
  text-align: left;
  color:gray;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.subheading1{
  position: absolute;
  left: 1vw;
  top:1vh;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.subheading2{
  position: absolute;
  left: 6vw;
  top: 6vh;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.subheading3{
  position: absolute;
  right: 13vw;
  top:1vh;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.subheading4{
  position: absolute;
  right: 2vw;
  top:6vh;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.grayHeading1{
  position: absolute;
  left: 52vw;
  top: 24vh;
  z-index: 2;
  color:gray;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.grayheading2{
  position: absolute;
  left: 17vw;
  top:12vh;
  color:gray;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.grayHeading3{
  position: absolute;
  left: 87vw;
  top: 12vh;
  text-align: left;
  z-index: 2;
  color:gray;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}
.grayHeading4{
  position: absolute;
  left: 80vw;
  top: 23vh;
  text-align: left;
  z-index: 2;
  color:gray;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.mobileHeading1{
  position: absolute;
  left: 42vw;
  top: 24vh;
  z-index: 2;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.mobileHeading2{
  position: absolute;
  left: 46vw;
  top: 29vh;
  z-index: 2;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.heading{
  position: absolute;
  top:44vh;
  left: 13vw;
  font-size: 15vh;
  font-family: 'Montserrat', sans-serif;
}
.heading2{
  position: absolute;
  right: 10vw;
  top:44vh;
  font-size: 15vh;
  font-family: 'Montserrat', sans-serif;
}

.home_container {
  position: absolute;
  top: 32vh;
  left:40.5vw;
  width: 20vw;
  height: 380px;
  overflow-y: scroll; 
  scroll-behavior: smooth;  
}
::-webkit-scrollbar {
  width: 0.5em; 
  height: 0.5em; 
}
  
.card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone{
  position: absolute;
  top:15vh;
  height: 80vh;
  width:24vw;
}
